body {
	font-family: "Roboto", "Arial", sans-serif;
	background-color: #e9e9e9;
	line-height: 1.25;
	font-size: 4vh;
}

#topnav {
	font-size: 3vh;
}

#topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	width: 10ch;
	text-transform: uppercase;
	border: none;
	border-bottom: 2px solid #e9e9e9;
}

#topnav button {
	padding: 6px 10px;
	margin: 8px 0px;
	background-color: #e9e9e9;
	color: black;
	border: none;
	cursor: pointer;
}


#topnav_guess, #topnav_game_end {
	float: left;
}

#topnav_config {
	float: right;
}

#daily_challenge_title {
	font-weight: bold;
	text-align: center;
	font-size: 2vh;
	margin: 0 0 6px 0;
}

#container {
	background-color: #fff;
	padding: 1vmin 2vmin;
	width: 96vmin;
	margin: 0 auto;
}

table {
	width: calc(100% + 1vh);
	border-spacing: 0.5vh;
	margin-left: -0.5vh;
}

td {
	border: 1px solid #ccc;
	height: 7.5vh;
	text-align: center;
	vertical-align: middle;
}
table#guesses td:nth-child(1) {
	background-color: #333;
	color: #fff;
	width: 4vh;
	font-size: 2vh;
}
table#guesses td:nth-child(7) {
	background-color: #afdbab;
}
table#guesses td:nth-child(8) {
	background-color: #e2d59e;
}
table#guesses tr.target td:nth-child(1) {
	background-color: #ff4d4d;
}

table#alphabet td {
	border: 1px solid #ccc;
	height: 0.5vh;
	font-size: 2vh;
}

table#alphabet .letter_A, table#alphabet .letter_E, table#alphabet .letter_I, table#alphabet .letter_O, table#alphabet .letter_U {
	border-color: #666;
}

table#alphabet {
	margin: 1vh -0.5vh;
}

table#alphabet td:not(.impossible), table#guesses td:nth-child(n+2):nth-child(-n+6):not(.impossible) {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

table#alphabet td.impossible {
	opacity: 0%;
}

td.impossible {
	color: #ccc;
	border-color: #ccc !important;
}

td.unprobable {
	color: #ddd;
	border-color: #ccc !important;
}

td.probable {
	font-weight: bold;
	border-color: #000;
	background-color: #eee;
}

td.selected {
	border-color: #000;
}

#game_end {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#game_end_content {
	position: absolute;
	max-width: 80vw;
	top: 50%;
	left: 50%;
	font-size: 4vmin;
	color: #333;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	background-color: #fff;
	padding: 1em;
	border-radius: 1em;
	text-align: center;
}

.game_end_button {
	color: #3e8ed0;
	padding: 0.5em 1.5em;
	border: 1px solid #3e8ed0;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0.25em;
	cursor: pointer;
	border-radius: 0.5em;
	min-width: 14ch;
}

.game_end_button:hover {
	background-color: #3e8ed0;
	color: white;
}

#copy_challenge_btn.copied {
	border: none;
}

#copy_challenge_btn.copied:hover {
	background-color: white;
	color: #3e8ed0;
}

#challenge_link {
	overflow-wrap: break-word;
}
